/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --xm-green: #29A643;
    --xm-red: #D51820;
    --crypto-green: #B1FFC2;
    --crypto-red: #FFA3A6;
    --big-fair-text: #444444;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  background-color: #201D27;
}

button {
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
}

header {
  background: url("./assets/images/header-desktop-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Slider */
.slick-slide {
  margin: 0 5px;
}

.slick-list {
  height: 170px;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  width: 45px;
  height: 45px;
  color: #959595;
  z-index: 9 !important;
  transition: color .3s ease-in-out;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
  color: #b2b1b1;
}

.slick-next {
  right: 0 !important;
}

.slick-prev {
  left: 0 !important;
}

/* Form */
input {
  color: #000000 !important;
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #B1B1B1;
}

::-webkit-input-placeholder {
  color: #B1B1B1 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
  color: #B1B1B1 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
}


.form-step-icon,
.form-step-icon-2 {
  position: relative;
  width: 32px;
  height: 32px;
}

.form-step-icon:before,
.form-step-icon-2:before {
  content: "1";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #29A643;
  z-index: -1;
}

.form-step-icon-2:before {
  content: "2";
}

.success-message-text {
  position: relative;
  left: 20px;
  color: #29A643;
  font-style: italic;
  font-size: 12px;
  margin-top: 5px;
}

.success-message-text:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #29A643;
}

.success-message-text:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -18px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000000;
}

.error-message-text {
  position: relative;
  left: 20px;
  color: #D51820;
  font-style: italic;
  font-size: 12px;
  margin-top: 5px;
}

.error-message-text:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #D51820;
}

.error-message-text:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -18px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000000;
}

.default-message-text {
  position: relative;
  left: 20px;
  color: #959595;
  font-style: italic;
  font-size: 12px;
  margin-top: 5px;
}

.default-message-text:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #959595;
}

.default-message-text:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -18px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000000;
}

/* Execution icon */
.green-icons {
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 769px) {
  .green-icons {
    width: 200px;
    height: 200px;
  }
}